*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Google Services file
google-services.json

# Ignore ktlint incremental reports
/.ktlint_incremental/